absl-py==1.4.0
aiohttp==3.8.5
aiosignal==1.3.1
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
Babel==2.14.0
beautifulsoup4==4.12.3
black==23.7.0
bleach==6.1.0
cachetools==5.3.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.0.1
click==8.1.6
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cloudpickle==2.2.1
cmake==3.29.2
comm==0.2.2
contextlib2==21.6.0
contourpy==1.1.0
cycler==0.11.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
einops==0.6.1
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.12.2
flake8==6.1.0
flatbuffers==1.12
fonttools==4.42.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.6.0
ftfy==6.1.1
functorch
gast==0.4.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h11==0.14.0
h5py==3.9.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.16.4
idna==3.4
imageio==2.31.1
importlib-metadata==6.0.0
importlib-resources==6.0.0
ipykernel==6.29.4
ipython==8.18.1
ipython-genutils==0.2.0
isoduration==20.11.0
isort==5.12.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.1
json5==0.9.25
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.26.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy_loader==0.3
libclang==15.0.6.1
lightning-utilities==0.9.0
lit==18.1.3
llvmlite==0.40.1
lxml==5.2.1
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mistune==3.0.2
ml-collections==0.1.1
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
notebook==7.1.2
notebook_shim==0.2.4
numba==0.57.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
open-clip-torch
opt-einsum==3.3.0
overrides==7.7.0
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.11.2
pexpect==4.9.0
Pillow==10.0.0
platformdirs==3.10.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==3.19.6
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.11.0
pycparser==2.22
pyflakes==3.1.0
Pygments==2.17.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-json-logger==2.0.7
pytorch-lightning
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==26.0.0
referencing==0.34.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.0
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.13.2
Send2Trash==1.8.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
sympy==1.12
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2
tensorflow==2.9.3
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.30.0
tensorflow-probability==0.20.1
termcolor==2.2.0
terminado==0.18.1
thingsvision
threadpoolctl==3.2.0
tifffile==2023.7.18
timm==0.6.13
tinycss2==1.2.1
tomli==2.0.1
torch
torchmetrics
torchtyping
torchvision
tornado==6.4
tqdm==4.65.0
traitlets==5.14.2
triton==2.0.0
tueplots==0.0.8
typeguard==4.1.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.7.1
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.14
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==2.2.3
wrapt==1.14.1
yarl==1.9.2
zipp==3.13.0
