matplotlib==3.5.*
seaborn==0.11.*
numpy==1.22.*
Pillow==9.1.*
pandas==1.4.*
thingsvision==2.2.22
torchvision==0.13.0
torch==1.13.1
functorch==0.2.*
tqdm==4.64.0
pytorch_lightning==1.8.*
einops
tueplots
ml_collections
isort
flake8
pyflakes
black
git+https://github.com/openai/CLIP.git
