black
einops
flake8
functorch
isort
matplotlib
ml_collections
numpy
pandas
pyflakes
pytorch_lightning
Pillow
scipy
seaborn
tensorflow
thingsvision==2.3.20
torchvision
torch
tqdm
tueplots
git+https://github.com/openai/CLIP.git
